<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- metas basicas -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pie de Pagina</title>
        <!-- Estilos font-family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
        <!-- Estilos CSS -->
        <link rel="stylesheet" href="../assets/css/styles.css">
    </head>

    <body>
        <footer class="footer">
            <section class="footer__sectionTop container">
                <div class="footer__information">
                    <a href="../">
                        <img src="../assets/images/logo.svg" alt="Logotipo de Alura Geek" class="footer__logotipo">
                    </a>

                    <ul class="footer__navigationLinks">
                        <li class="paragraph">
                            <a href="#">Quienes somos</a>
                        </li>
                        <li class="paragraph">
                            <a href="#">Política de privacidad</a>
                        </li>
                        <li class="paragraph">
                            <a href="#">Programa de fidelidad</a>
                        </li>
                        <li class="paragraph">
                            <a href="#">Nuestras Tiendas</a>
                        </li>
                        <li class="paragraph">
                            <a href="#">Quiero ser franquiciado</a>
                        </li>
                        <li class="paragraph">
                            <a href="#">Anúncie aquí</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__contact">
                    <h4 class="quartet-title">Hable con nosotros</h4>
                    <form class="footer__contactForm">
                        <div class="textArea">
                            <label for="name" class="nameLabel">Nombre</label>
                            <input type="text" name="name" class="nameInput" placeholder="Escribe tu nombre" required>
                        </div>
                        <div class="textArea">
                            <textarea name="message" class="message" rows="5" placeholder="Escribe tu mensaje" required></textarea>
                        </div>

                        <button type="submit" class="formButton">Enviar mensaje</button>
                    </form>
                </div>
            </section>

            <section class="footer__copyright">
                <div class="container">
                    <p class="paragraph">Desarrollado por Eduardo Mendez © 2023</p>
                </div>
            </section>
        </footer>

    </body>
</html>
